main {
  width: 100%;
  margin-top: 4.1666vh;
}

.main__inner {
  max-width: 75%;
  margin: 0 auto;
}

.swiper-slide-active {
  margin-right: 40px !important;
  margin-left: 0 !important;
}

.swiper {
  transform: translateX(-2vw);
  width: 79vw;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  width: 38px !important;
  height: 38px !important;
  margin-top: 0 !important;
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 4px 24px rgba(0, 11, 38, 0.12) !important;
  //border: 1px solid red;
}

.swiper-button-prev {
  background-image: url("../data/bannerBtnLeft.svg");
  left: 0 !important;
  transform: translate(calc(2vw - 50%), -50%) !important;
}
.swiper-button-next {
  right: 0 !important;
  transform: translate(calc(50% - 2vw), -50%) !important;
  background-image: url("../data/bannerBtnRight.svg");
}
.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.banner {
  width: 75vw;
  height: 40vh;
  background: rgba(179, 237, 200, 1);
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  margin: 0 auto;
}

.banner2 {
  background: rgba(255, 228, 143, 1);
}

.banner3 {
  background: rgba(191, 240, 222, 1);
}

.banner__inf {
  position: absolute;
  left: 4%;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.banner__title {
  font-weight: 700;
  color: #000B26;

  font-size: 3.2em;
}

.banner__subtitle {
  font-weight: 400;
  color: rgba(0, 11, 38, 0.8);
  margin-top: 3%;

  font-size: 1em;
  width: 75%;
  line-height: 150%;
}

.banner__btn {
  background: rgba(7, 200, 142, 1);
  border: none;
  box-shadow: none;
  font-weight: 500;
  color: #FFFFFF;
  padding: 15px 20px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  margin-top: 5%;
}

.banner__img {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden;
}

.banner__img img {
  height: 100%;
}

/*
===================*/

.blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.block {
  width: 49%;
  height: 31.25vh;
  border: 1px solid rgba(18, 34, 88, 0.12);
  border-radius: 16px;
  position: relative;
}

.block__inf {
  position: absolute;
  left: 4%;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.block__title {
  font-weight: 600;
  color: #000B26;

  font-size: 2.1333em;
}

.block__subtitle {
  font-weight: 400;
  color: rgba(0, 11, 38, 0.8);
  margin-top: 3%;

  font-size: 1em;
  width: 100%;
  line-height: 150%;
}

.block__btn {
  background: rgba(62, 80, 114, 0.08);
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-top: 5%;
}

.block__img {
  position: absolute;
  right: 0;
  height: 80%;
  bottom: 0;
  overflow: hidden;
}

.block__img img {
  height: 100%;
}
