main {
  width: 100%;
  margin-top: 3.5vh;
}

.main__inner {
  max-width: 75%;
  margin: 0 auto;
}

.swiper-slide-active {
  margin-right: 40px !important;
  margin-left: 0 !important;
}

.swiper {
  transform: translateX(-2vw);
  width: 79vw;
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  width: 38px !important;
  height: 38px !important;
  margin-top: 0 !important;
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 4px 24px rgba(0, 11, 38, 0.12) !important;
  transition: all 0.1s ease;
}

.swiper-button-prev {
  background-image: url("../../data/bannerBtnLeft.svg");
  left: 0 !important;
  transform: translate(calc(2vw - 50%), -50%) !important;
}
.swiper-button-next {
  right: 0 !important;
  transform: translate(calc(50% - 2vw), -50%) !important;
  background-image: url("../../data/bannerBtnRight.svg");
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  //background-size: 60.7893%;
  width: 42px !important;
  height: 42px !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

/*
===============*/

.blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3.5vh;
}