button {
  border-radius: 8px;
  height: 6.315773vh;
  //margin-top: 3.6106vh;
  border: none;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  //background: rgba(62, 80, 114, 0.08);
  //color: rgba(0, 11, 38, 0.8);
}

.top__button button {
  width: 100%;
  //margin-top: 0.9026vh;
  //background: rgba(7, 200, 142, 1);
  //color: rgba(255, 255, 255, 1);
}